.using-node h4{
	color:rgb(129, 202, 40) !important;
	text-align: left;

}
.using-node h1{
	text-align: left;

}
.n-js{
	border: none !important;
	float: right;
	top: -175px;
	position: relative !important;
	background: none !important;
	box-shadow: none !important;
}
.c-server{
	border: none !important;
	background: none !important;
	box-shadow: none !important;
	display: block !important;
	margin: 5px auto !important;
}
.reveal .progress span {
  background: #8CFF00 !important;
}
ul {
	list-style: none !important
}
.reveal .controls div.navigate-up, .reveal .controls div.navigate-up.enabled {
  border-bottom-color: #05D308;
}
.reveal .controls div.navigate-left, .reveal .controls div.navigate-left.enabled {
  border-right-color: #05D308;
}
.reveal .controls div.navigate-down, .reveal .controls div.navigate-down.enabled {
  border-top-color: #05D308;
}
.reveal .controls div.navigate-right, .reveal .controls div.navigate-right.enabled {
  border-left-color: #05D308;
}