body{
	margin: 0;
	background: #000;
	color: #fff;
	overflow: hidden;
}

.mydiv{
	background:red;
	height:50%;
	width: 500px;
	font-size: 45px;
	text-align: center;
	
}
.anim{
	-webkit-animation: minhaAnimacao 1s infinite;
}


























.selector{
	animation: minhaAnimacao <timing> <interation count>;
	-webkit-animation: minhaAnimacao <timing> <interation count>;
}

@-moz-keyframes minhaAnimacao{
	0%{
		/* ... code ... */
	}
	100%{
		/* ... code ... */
	}	
}

@-webkit-keyframes minhaAnimacao{
	0%{
		/* ... code ... */
	}
	100%{
		/* ... code ... */
	}
}