body{
	margin: 0;
	font-family: arial, sans-serif;
}
table{
	border-spacing: 0;
	width: 100%;
}
thead{
	background: #ddd;
}
th{
	text-align: left;
}
td{
	border:1px solid #222;
	height: 30px;
}
.main{
	width: 75%;
	margin: 0 auto;
}
.add-item input{
	margin: 15px 0;
	display: block;
}
.add-item input[type="text"]{
	padding: 5px;
  	border-radius: 4px;
  	border: 1px solid #ddd;
}
.add-item textarea{
	width: 25%;
	height: 120px;
	border-radius: 4px;
	border: 1px solid #ddd;
}
.add-item input[type="submit"]{
	padding: 10px 20px;
	background: rgb(34, 95, 229);
	color: #fff;
	border: none;
	border-radius: 4px;
}