.using-node h4{

	text-align: left;

}
.using-node h1,.using-node h2{
	text-align: left;

}
.n-js{
	border: none !important;
	float: right;
	top: -175px;
	position: relative !important;
	background: none !important;
	box-shadow: none !important;
}
.c-server{
	border: none !important;
	background: none !important;
	box-shadow: none !important;
	display: block !important;
	margin: 5px auto !important;
}
.reveal .progress span {
  background: #fff !important;
}
ul {
	list-style: none !important
}
.less-li{
	font-size:75% !important;
}
.img-s{
	float: right !important;
	top: -200px !important;
	position: relative !important;
}
.img-inside{
	position: relative;
}
section p{
	font-size: 60% !important;
	text-align: left !important;
}
.less-h2{
  text-transform: none !important;
}
.less-h2 span{
	padding: 5px 45px;
	background: #7C7B7B !important;	
}

.course-content{
	width: 150px;
	display: inline-block;
}
.reveal {
	background:#06426B;
}
.reveal .controls div.navigate-up, .reveal .controls div.navigate-up.enabled {
  border-bottom-color: #FFFFFF;
}
.reveal .controls div.navigate-left, .reveal .controls div.navigate-left.enabled {
  border-right-color: #FFFFFF;
}
.reveal .controls div.navigate-down, .reveal .controls div.navigate-down.enabled {
  border-top-color: #FFFFFF;
}
.reveal .controls div.navigate-right, .reveal .controls div.navigate-right.enabled {
  border-left-color: #FFFFFF;
}
.front-logo{
	width: 75px;
	float: right;
		border: none !important;
	background: none !important;
	box-shadow: none !important;

}