body{
	color: #000;
	font-family: Arial, sans-serif;
}
table{
	border-spacing: 0;
	width: 100%;
}
th{
	background: #ddd;
}
td{
	border: 1px solid #222;
}
form textarea,
form input{
	display: block;
	margin: 5px 0;
	padding: 5px;
	border: 1px solid #ddd;
	width: 100%;
}
textarea{
	height: 150px;
}

input[type="submit"]{
	padding: 10px 20px;
	background: rgb(66, 152, 249);
	color: #fff;
	border: none;
	width: 25%;
}
.add, .watch{
	width: 25%;
}
.add{

}