
body{
	margin: 0;
	background: #000;
	color: #fff;
	overflow: hidden;
}

.mydiv{
	background:red;
	height:10%;
	width: 10%;
	font-size: 45px;
	text-align: center;
	margin: 15px 0;
	position: relative;
}

@-webkit-keyframes minhaAnimacao {
	10%{
		background:blue;
		transform: rotate(0deg);
		left: 0;
	}

	50%{
		left: calc(100vw - 10%);
		background: green;
	}
	100%{
		background: cyan;
		/*transform: rotate(360deg);*/
		left: 0;
		
		
	}	
}