body{
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}
table {
	border-spacing: 0;
	margin: 0;
	width: 100%;
	text-align: left;
}
thead {
	background-color: #D0D0D0;
	padding: 5px;
}
th{
	height: 25px;

}

td {
	padding: 0 ;

}

.container{
	margin: 0 auto;
	width: 75%;
}
.action{
  top: 15px;
  position: relative;
}
.action textarea{
  display: block;
  width: 40%;
  height: 75px;
  border-color: #D0D0D0;
}
.action input{
	top: 15px;
	position: relative;
	background-color: #2674EA;
	border: none;
	padding: 10px;
	color: #fff;
	font-weight: bold;
}